body {
    margin: 10px;
}

#app-content {
    margin-top: 10px;
}

footer > div {
    text-align: center;
}

    footer > div > div {
        background-color: white;
        opacity: 0.7;
    }

td {
    width: 33%;
}

thead > tr {
    text-align: center;
}

.sortorder:after {
    content: '\25b2';
}

.sortorder.reverse:after {
    content: '\25bc';
}

.hoverable {
    cursor: pointer;
}

    .hoverable:hover {
        color: #40e0d0;
        text-decoration: underline;
    }

.dashboard {
    height: 100%;
}

    .dashboard > h1, .projectView {
        font-size: 4rem;
        text-align: center;
        color: gainsboro;
    }

.inline {
    display: inline;
}

.padding-10 {
    padding: 10px;
}

.margin-top {
    margin-top: 20px;
}

.margin-20 {
    margin: 20px;
}

.aligner {
    display: flex;
    align-items: center;
    justify-content: center;
}

.label-option {
    margin: 5px;
    padding: 5px;
    border-radius: 4px;
}

    .label-option:hover {
        background-color: grey;
        color: floralwhite;
        cursor: pointer;
    }

.label-holder {
    border: 1px solid grey;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.loading {
    opacity: 0.7;
}

.absolute-center {
    position: absolute;
    top: 20%;
    left: 50%;
}

.sk-cube-grid, .sk-cube {
    background-color: grey;
}

.buffer {
    margin: 15px;
}