<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="https://softuni.bg">SoftUni</a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul ng-if="authService.isAnonymous()" class="nav navbar-nav">
                <li><a href="#/login" class="button">Login</a></li>
                <li><a href="#/register" class="button">Register</a></li>
            </ul>

            <ul ng-if="authService.isLoggedIn()" class="nav navbar-nav">
                <li><a href="#/">User Dashboard</a></li>
            </ul>

            <ul class="nav navbar-nav navbar-right">
                <li ng-if="authService.isLoggedIn()">
                    <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{authService.getCurrentUser().userName}}<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li ng-if="authService.isAdmin()"><a href="#/admin">Admin</a></li>
                        <li><a href="#/profile" ng-click="logout()">Logout</a></li>
                    </ul>
                </li>
                
            </ul>
        </div>
    </div>
</nav>