<form name="form" ng-app="app" ng-submit="changePassword(userData)">
    <h2>Change Password</h2>
    <div class="form-group" ng-class="{true: 'has-error'}[submitted && form.oldPassword.$invalid]">
        <label class="control-label" for="oldPassword">Old Password</label>
        <div class="controls">
            <input class="form-control" type="password" id="oldPassword" name="oldPassword" ng-model="userData.oldPassword" required ng-minlength="6" ng-maxlength="100" />
            <span class="help-block" ng-show="submitted && form.oldPassword.$error.required">Required</span>
            <span class="help-block" ng-show="submitted && form.oldPassword.$error.minlength">Password has to be at least 6 symbols</span>
            <span class="help-block" ng-show="submitted && form.oldPassword.$error.maxlength">Password has to be no more than 100 symbols</span>
        </div>
    </div>
    <div class="form-group" ng-class="{true: 'has-error'}[submitted && form.password.$invalid]">
        <label class="control-label" for="password">New Password</label>
        <div class="controls">
            <input class="form-control" type="password" id="password" name="password" ng-model="userData.NewPassword" required ng-minlength="6" ng-maxlength="100" />
            <span class="help-block" ng-show="submitted && form.password.$error.required">Required</span>
            <span class="help-block" ng-show="submitted && form.password.$error.minlength">Password has to be at least 6 symbols</span>
            <span class="help-block" ng-show="submitted && form.password.$error.maxlength">Password has to be no more than 100 symbols</span>
        </div>
    </div>

    <div class="form-group" ng-class="{true: 'has-error'}[submitted && form.confirmPassword.$invalid]">
        <label class="control-label" for="confirmPassword">Confirm Password</label>
        <div class="controls">
            <input class="form-control" type="password" id="confirmPassword" name="confirmPassword" ng-model="userData.ConfirmPassword" required ng-minlength="6" ng-maxlength="100" ng-compare-passwords="password" />
            <span class="help-block" ng-show="submitted && form.confirmPassword.$error.required">Required</span>
            <span class="help-block" ng-show="submitted && form.confirmPassword.$error.minlength">Password has to be at least 6 symbols</span>
            <span class="help-block" ng-show="submitted && form.confirmPassword.$error.maxlength">Password has to be no more than 100 symbols</span>
            <span class="help-block" ng-show="submitted && form.confirmPassword.$error.matchingPasswords">Passwords does not match</span>
        </div>
    </div>
    <button type="submit" class="btn btn-primary btn-large" ng-click="submitted=true">Change Password</button>
</form>