<div ng-if="authService.isLoggedIn()" class="dashboard">
    <h1>Dashboard</h1>
    <table class="table table-striped">
        <thead>
            <tr>
                <td class="hoverable" ng-click="order('issue')">
                    Issue
                    <span class="sortorder" ng-show="predicate === 'issue'" ng-class="{reverse:reverse}"></span>
                </td>
                <td class="hoverable" ng-click="order('project')">
                    Project
                    <span class="sortorder" ng-show="predicate === 'project'" ng-class="{reverse:reverse}"></span>
                </td>
                <td class="hoverable" ng-click="order('date')">
                    Due Date
                    <span class="sortorder" ng-show="predicate === 'date'" ng-class="{reverse:reverse}"></span>
                </td>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="issue in issues | orderBy:predicate:reverse">
                <td>{{issue.Title}}</td>
                <td class="hoverable" ng-click="viewProject(issue.Project.Id)">{{issue.Project.Name}}</td>
                <td>{{issue.DueDate | date:'dd-MM-yyyy'}}</td>
            </tr>
        </tbody>
    </table>
    <div ng-if="authService.isAdmin()">
        <button class="btn btn-lg btn-success" ng-click="viewAllProjects()">View All Projects</button>
        <button class="btn btn-lg btn-success" ng-click="addProject()">Add New Project</button>
        <button class="btn btn-lg btn-success">Add New Issue</button>
    </div>

    <pagination total-items="allIssues" ng-model="issuesParams.startPage"
                items-per-page="issuesParams.pageSize" ng-change="getIssues()"
                max-size="9" boundary-links="true">
    </pagination>
</div>