<h2 class="projectView">{{issueView}}</h2>

<form ng-if="!isDisabled" name="form" ng-app="app" ng-submit="saveIssue(issueData)">
    <div ng-issue-form></div>
    <button type="submit" class="btn btn-primary btn-large" ng-click="submitted=true">Save</button>
</form>

<form ng-if="isDisabled" name="form" ng-app="app">
    <div ng-issue-form></div>
    <a class="btn btn-success" href="#/projects/{{issueData.Project.Id}}">View project - "{{issueData.Project.Name}}"</a>
    <a ng-if="isProjectLeader" class="btn btn-success btn-large" href="#/issues/{{issueData.Id}}/edit">Edit</a>
</form>

<div ng-if="isAssignee">
    <h3>Status transition scheme</h3>
    <div ng-issue-statuses></div>
</div>

<div ng-if="isDisabled">
    <h2 class="projectView">Comments</h2>
    <div ng-comment-view ng-repeat="comment in comments"></div>
    <div ng-if="comments.length === 0">No comments</div>
    <form ng-if="isProjectLeader || isRelated" name="form" ng-app="app" ng-submit="saveComment(comment);">
        <div ng-comment-form></div>
        <button type="submit" class="btn btn-primary btn-large" ng-click="submitted=true;">Save</button>
    </form>
</div>